<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>

<body>
    <h1>
        New Campground
    </h1>
    <form action="/campgrounds" method="post">
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="campground[title]" placeholder="Title name">
        </div>
        <div>
            <label for="location">Location</label>
            <input id="location" type="text" name="campground[location]" placeholder="Location">
        </div>
        <button>Add Campground</button>
    </form>
    <a href="/campgrounds">All Campground</a>


</body>

</html>